<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://amozone.cewkbyismldo.us-east-1.rds.amazonaws.com:3307/spring_homework?createDatabaseIfNotExist=true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">false</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">123456789</property>
        <property name="connection.pool_size">5</property>

        <mapping class="ua.goit.homework.entity.Manufacturer"/>
        <mapping class="ua.goit.homework.entity.Product"/>
        <mapping class="ua.goit.homework.entity.User"/>

    </session-factory>
</hibernate-configuration>